{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
    <link href="{% static 'recipemanager/add-recipe.css' %}" rel="stylesheet">
    <div class="page-actions">
        <a href="{% url 'recipe' %}" class="action action-button">All Recipes</a>
        <a href="{% url 'available-recipe' %}" class="action action-button">Recipe Availability</a>
    </div>
    <h2>
        Add Recipe
    </h2>

    <div class="recipe-form">
        <div class="label">Name</div>
        <input type="text" class="input" id="recipe-name" placeholder="Enter recipe name">

        <div class="label">Image url</div>
        <input type="text" class="input" id="image" placeholder="Enter recipe image url">

        <div class="filler"></div>
        <ul id="ingredients-list"></ul>

        <div class="label">Ingredients</div>
        <input type="text" class="input" id="ingredient" placeholder="Enter Ingredient">

        <div class="label">Quantity</div>
        <div class="quantity">
            <input type="text" class="input" id="quantity" placeholder="Enter ingredient quantity">
            {% include "recipemanager/units.html" %}
        </div>

        <div class="filler"></div>
        <button class="action action-button add-ingredient" onclick="addIngredient()">Add Next Ingredient</button>

        <div class="label">Cooking Time</div>
        <input type="number" class="input" id="cooking-time" placeholder="Enter cooking time in minutes">

        <div class="filler"></div>
        <ul id="steps"></ul>

        <div class="label">Step Name</div>
        <input type="text" class="input" id="step-name" placeholder="Enter the step name">

        <div class="label">Procedure</div>
        <textarea class="input" id="step-procedure" placeholder="Enter procedure"></textarea>

        <div class="filler"></div>
        <button class="action action-button add-step" onclick="addStep()">Add Next Step</button>

        <div class="filler"></div>
        <div class="form-actions">
            <button class="action action-button" onclick="saveRecipe()">Save Recipe</button>
            <a href="{% url 'recipe' %}" class="action action-link">Cancel</a>
        </div>
    </div>
    <script src="{% static "recipemanager/recipe.js" %}"></script>
{% endblock %}