{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static 'recipemanager/add-item.css' %}">
    <h2>
        {{ title }}
    </h2>
    <form class="add-pantry-item" method="post">
        {% csrf_token %}
        <div class="name-label">{{ form.Name.label_tag }}</div>
        <div class="name-input">{{ form.Name }}</div>
        <div class="quantity-label">{{ form.Quantity.label_tag }}</div>
        <div class="quantity-input">{{ form.Quantity }}</div>
        <div class="unit-input">{{ form.Unit }}</div>
        <div class="form-actions">
            <button type="submit" class="action action-button">Add Item</button>
            <a class="action action-link" href="{% url cancel_view %}">Cancel</a>
        </div>
    </form>
{% endblock %}