{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
     <h1>
         Add Ingredients
     </h1>
    <div class="add-pantryitem">
        <form class="add-pantryitem-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div>
                <button type="submit" class="btn btn-outline-primary">Post</button>
                <button type="submit" class="btn btn-outline-secondary" onclick="">Cancel</button>
            </div>
        </form>
    </div>
{#    <div>#}
{#        <a class="a-link" href="{% url 'index' %}">Home</a>#}
{#    </div>#}
{% endblock %}