{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
     <h1>
         Add Ingredients
     </h1>
    <div class="add-pantry-item">
        <form class="add-pantry-item-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit" class="btn btn-outline-primary" name="action" value="create">Create</button>
                <button type="submit" class="btn btn-link" name="action" value="cancel">Cancel</button>
            </div>
        </form>
    </div>
{#    <div>#}
{#        <a class="a-link" href="{% url 'index' %}">Home</a>#}
{#    </div>#}
{% endblock %}