{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
    <link href="{% static 'recipemanager/recipe.css' %}" rel="stylesheet">
    <h1>
        All Recipes
    </h1>
    <article class="recipe-container">
        {% for recipe in recipes %}
                <a class="recipe" href="{% url 'view-recipe' recipe.id %}">
                    <div class="recipe-name">
                        <h2>{{ recipe.name }}</h2>
                    </div>
                    <div>
                        <img class="recipe-image" src="{{ recipe.image }}">
                    </div>
                </a>
        {% endfor %}
    </article>

{% endblock %}