{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Recipe{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'recipemanager/layout.css' %}" rel="stylesheet">
</head>
<body>

<nav class="nav">
    <a class="title" href="{% url 'index' %}">Recipe Manager</a>

    <ul>
        <li>
            <a href="{% url 'ingredient' %}">Pantry</a>
        </li>
        <li>
            <a href="{% url 'recipe' %}">Recipes</a>
        </li>
        <li>
            <a href="{% url 'shopping-list' %}">Shopping List</a>
        </li>
    </ul>
</nav>

<div class="body">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>