{% extends "recipemanager/layout.html" %} {% load static %}
<link href="{% static 'recipemanager/recipe.css' %}" rel="stylesheet">
{% block body %}
    <div class="pantry">
        <h2>Pantry Items</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.quantity }} {{ item.item.unit_type }}</td>
                </tr>
                <br>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="{% url 'index' %}">Home</a>
    </div>
{% endblock %}