{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
    <link href="{% static 'recipemanager/pantry.css' %}" rel="stylesheet">
    <div class="page-actions">
        <a class="action action-button" href="{% url 'add-pantry-item' %}">Add Item</a>
    </div>
    <h2>Pantry</h2>
    <table class="pantry">
        <tr>
            <th class="item">Item</th>
            <th class="quantity">Quantity</th>
        </tr>
        {% for item in items %}
            <tr>
                <td class="item">{{ item.item.name }}</td>
                <td class="quantity">{{ item.quantity }} {{ item.item.unit_type }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}