{% extends "recipemanager/layout.html" %} {% load static %}
{% block body %}
    <link href="{% static 'recipemanager/recipe.css' %}" rel="stylesheet">
    <div class="page-actions">
        <a href="{% url 'recipe' %}" class="action action-button">All Recipes</a>
        <a href="{% url 'add-recipe' %}" class="action action-button">Add Recipe</a>
    </div>

    {% if available_recipes %}
        <h2>Available Recipes</h2>
        <article class="recipes">

            {% for avail in available_recipes %}
                <a class="recipe" href="{% url 'view-recipe' avail.id %}">
                    <div class="recipe-image" style="background-image: url('{{ avail.image }}');"></div>
                    <div class="recipe-name">
                        {{ avail.name }}
                    </div>
                </a>
            {% endfor %}
        </article>
    {% endif %}

    {% if unavailable_recipes %}
        <h2>Unavailable Recipes</h2>
        <article class="recipes">
            {% for unavail in unavailable_recipes %}
                <a class="recipe" href="{% url 'view-recipe' unavail.id %}?unavailable=true">
                    <div class="recipe-image" style="background-image: url('{{ unavail.image }}');"></div>
                    <div class="recipe-name">
                        {{ unavail.name }}
                    </div>
                </a>
            {% endfor %}
        </article>
    {% endif %}
{% endblock %}