.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 #565D5C;
    overflow: hidden;
    margin: 20px;
    background-color: #FFFFFF;
}

.recipe-image {
    flex-basis: calc(100% - 1.5em);
    background-size: cover;
    background-position: center center;
}
