ul {
    list-style-type: none;
    padding: 0;
}

p {
    font-weight: bold;
}

.recipe-view-container {
    display: grid;
    grid-template-areas:
       "recipe-image"
       "ingredient"
       "time"
       "btn-cook";
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    grid-gap: 10px;
    padding: 15px;
    margin: 10px;
}

.img-container {
    text-align: center;
}

.recipe-image {
    max-width: 100%;
    grid-area: recipe-image;
}

.ingredient {
    grid-area: ingredient;
}

.btn-cook {
    grid-area: btn-cook;
}

.time {
    grid-area: time;
}

.procedure {
    margin: 10px;
    text-align: center;
}

div .home {
    text-align: end;
}

@media screen and (min-width: 768px) {
    .recipe-view-container {
        grid-template-areas:
           "recipe-image ingredient ingredient"
           "recipe-image ingredient ingredient"
           "time time btn-cook";
    }

    .recipe-image {
        max-height: 270px;
        max-width: 480px;
    }
}